@font-face {
  font-family: "iconfont"; /* Project id 4694259 */
  src: url('iconfont.woff2?t=1727179234366') format('woff2'),
       url('iconfont.woff?t=1727179234366') format('woff'),
       url('iconfont.ttf?t=1727179234366') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shengchan-:before {
  content: "\e609";
}

.icon-renyuan:before {
  content: "\e65e";
}

.icon-yiliaozhiliangfenxi:before {
  content: "\e685";
}

.icon-icon_zhengjian:before {
  content: "\e626";
}

.icon-yuqing:before {
  content: "\e667";
}

.icon-xunjian:before {
  content: "\e614";
}

.icon-xunjiandian:before {
  content: "\e656";
}

.icon-yujing:before {
  content: "\e60a";
}

.icon-hege:before {
  content: "\e65a";
}

.icon-pingfenmoban:before {
  content: "\e727";
}

.icon-weijian:before {
  content: "\e630";
}

.icon-beian:before {
  content: "\e712";
}

.icon-beian1:before {
  content: "\e6a9";
}

.icon-baogao:before {
  content: "\e61f";
}

.icon-yuqingqingkuang:before {
  content: "\e7c3";
}

.icon-renyuan1:before {
  content: "\e689";
}

.icon-daogang:before {
  content: "\e601";
}

.icon-hegezhengkaiju:before {
  content: "\e605";
}

.icon-querendaogang:before {
  content: "\e60b";
}

.icon-hegezheng:before {
  content: "\e632";
}

.icon-hegezheng1:before {
  content: "\e620";
}

.icon-xiaofeizhe-xiaofeizhezichan:before {
  content: "\e648";
}

.icon-chanpinshuliang1:before {
  content: "\e658";
}

.icon-beianbianhao:before {
  content: "\e63a";
}

.icon-zijianbaogao:before {
  content: "\e647";
}

.icon-daogang1:before {
  content: "\e633";
}

.icon-a-2songjianbaogao:before {
  content: "\e61e";
}

.icon-a-2songjianjilu:before {
  content: "\e621";
}

.icon-zijian:before {
  content: "\e63e";
}

.icon-qiyeshuliang:before {
  content: "\e63b";
}

.icon-qiyeshuliang1:before {
  content: "\e653";
}

.icon-buhuanhegebiaozhi:before {
  content: "\e603";
}

.icon-icon-beian:before {
  content: "\e635";
}

.icon-pingfen:before {
  content: "\e948";
}

.icon-chanpinshuliang:before {
  content: "\e634";
}

.icon-shieldCheck:before {
  content: "\e9d9";
}

.icon-shejishengchan:before {
  content: "\e604";
}

